<div class="container">
  <div class="col-md-12">
    <div class="form-group">
      <label for="fname">First Name:</label>
      <input type="text" class="form-control" name="fname" id="fname" ng-model="vm.detail.fname">
    </div>
    <div class="form-group">
      <label for="lname">Last Name:</label>
      <input type="text" class="form-control" name="lname" id="lname" ng-model="vm.detail.lname">
    </div>
    <div class="form-group">
      <label for="contact">Contact Number:</label>
      <input type="text" class="form-control" name="contact" id="contact" ng-model="vm.detail.contact">
    </div>
    <div class="">
      <button type="button" class="btn btn-warning" name="cancle" ng-click="vm.cancle()">Cancle</button>
      <button type="button" class="btn btn-primary" name="save" ng-click="vm.save()">Save</button>
    </div>
  </div>
</div>
