<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon-home"></span> Thumbnil
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li><a ui-sref="bookTimeSlot">Booking</a></li>
        <!-- <li><a ui-sref="dynamic">Dynamic Images</a></li> -->
        <!-- <li><a ui-sref="static">Static Images</a></li> -->
      </ul>
    </div>
  </div>
</nav>
