<div class="container">
  <div>
    <acme-navbar></acme-navbar>
  </div>
  <div class="jumbotron text-center">
    <h2 class="">Book Time Slot</h2>
    <p class="lead">
      This is a demo application for Book Time Slot.
    </p>
  </div>
</div>
