<div class="container">
  <div>
    <acme-navbar></acme-navbar>
  </div>
  <div ng-repeat="time in vm.timeSlots">
    <div class="">
      <a href ui-sref="fillTimeSlot({timeId: time.id})">
        {{time.slot | stringToTimeFilter}}
      </a>
    </div>
    <div class="table-responsive" ng-if="time.detail.fname || time.detail.lname || time.detail.contact">
      <table class="table">
        <thead>
          <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{time.detail.fname}}</td>
            <td>{{time.detail.lname}}</td>
            <td>{{time.detail.contact}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <hr>
  </div>
</div>
